@charset "UTF-8";

//Utilities & Tools
$breakpoints: (
    'sp': 750px,
    'tablet': 1024px,
);
@mixin media-sp {
    @media (max-width: map-get($breakpoints, 'sp')) {
        @content; 
    }
}
@mixin media-tablet {
    @media (max-width: map-get($breakpoints, 'tablet')){
        @content;
    }
}
@mixin headTitle__pc(){
    font-size: calc(0.1rem + 3.3vw);
    font-weight: 700;
    text-align: center;
    color: #004092;

    @include media-sp{
        font-size: calc(0.1rem + 6.2vw);
    }
}

//Base
a{
    display: block;
    color: black;
    text-decoration: none;
}
body{
    background-color: #FCF8ED;
    line-height: 1.5;
    font-weight: 400;
    //googlefonts
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body::-webkit-scrollbar {
    display: none;
}
li{
    list-style: none;
    color: black;
}
img{
    display: block;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

//Layout
.l-header__errorPage{
    width: 45.6vw;
    position: fixed;
    right: 1.4vw;
    top: 10px;
    z-index: 100;

    @include media-tablet{
        width: 520px;
    }
    @include media-sp {
        width: auto;
        right: 0;
        top: 0;
    }
}
.l-message{
    padding: 30vh 0 40vh;
}

//Module
.nav__pc{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include media-sp{
        display: none;
    }
}
.navPc_list{
    width: 95%;
    padding: 3%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-tablet{
        width: 95%;
        padding: 5px auto;
    }

    .navPc_item{
        color: #0D88C4;
        font-size: calc(0.1rem + 1.3vw);
        transition: transform 0.3s;

        @include media-tablet{
            font-size: 20px;
        }
    }
    .navPc_home{
        background-color: #0D88C4;
        border-radius: 0.556vw;
        padding: 2% 4%;
        transition: transform 0.3s;

        .navPc_item__home{
            color: white;
            font-size: calc(0.1rem + 1vw);

            @include media-tablet{
                font-size: 20px;
            }
        }
    }
}
.nav__sp{
    display: none;
    position: relative;
    background-color: white;
    border-radius: 2vw;
    width: 220px;
    padding: 5px 0;
    margin-top: 1%;
    margin-right: 5px;
    margin-left: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;

    @include media-sp {
        display: block;
    }

    .navSp_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;

        .navSp_contact{
            background-color: #0D88C4;
            border-radius: 2vw;
            padding: 4% 2% 4% 7%;
            transition: transform 0.3s;
            display: flex;
            align-items: center;

            .navSp_contactText{
                font-size: 16px;
                margin-right: 10px;
                color: white;
            }
            .line__arrow {
                background-color: white;
            }
        }
        .navSp_hamburger{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 45px;
            height: 100%;
            aspect-ratio: 1/1;
            transition: transform 0.3s;
            cursor: pointer;

            .line {
                    display: block;
                    width: 100%;
                    height: 0.6vh;
                    border-radius: 2px;
                    background-color: #333;
                    transition: transform 0.3s, opacity 0.3s;
                } 
            .line1{
                transform-origin: top left;
            }
            .line3{
                transform-origin: bottom left;
            }                 
        }
    }
    .navSp_dropdown{
        width: 110%;
        padding: 10px 20px 0;
        position: absolute;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        top: 60px;
        right: 10px;
        left: auto;
        visibility: hidden;
        opacity: 0;
        transform: translateX(4px); 
        transition: opacity 0.3s, transform 0.3s, visibility 0s 0.3s;  
        
        .dropdown_item{
            display: flex;
            align-items: center;
            padding:15px 0 ;

            .dropdown_itemText{
                font-size: 20px;
                margin-left: 16px;
                transition: transform 0.3s;
            }
            .dropdown_itemText__close{
                font-size: 18px;
                color: #0D88C4;
                transition: transform 0.3s;
                cursor: pointer;
            }
       }
        .arrow{
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

           .line__arrow{
                display: block;
                border-radius: 2px;
                width: 14px;
                height: 0.3vh;
                background-color: #333;
            }

            .line1__arrow{
                transform-origin: top left;
                transform: rotate(31deg);
            }
            .line2__arrow{
                transform-origin: bottom left;
                transform: rotate(-31deg);
            }
        }
    }
}
.error_title{
    @include headTitle__pc();
    margin: 20px 0;
    text-align: center;
}
.error_text{
    font-size: calc(0.1rem + 2vw);
    text-align: center;
    margin-bottom: 30px;

    @include media-sp{
        font-size: calc(0.1rem + 3.5vw);
    }
}
.footer_copyRight{
    padding-bottom: 30px;
    height: 100%;
    text-align: center;
}

//State
.nav__sp{
    .navSp_contact:focus{
        transform: scale(1.1);
        transition: transform 0.3s;
    }

    .navSp_dropdown__is-open{
    opacity: 1;
    visibility: visible;
    transform: translateX(0); 
    transition: opacity 0.3s, transform 0.3s;
}
}
.navSp_hamburger:focus{
    outline: none;
    transform: scale(1.1);
    transition: transform 0.3s;
}
.line1__is-active {
    transform: rotate(45deg);
}
.line2__is-active {
    opacity: 0 ;
}
.line3__is-active {
    transform: rotate(-45deg);
}
.dropdown_itemText:focus{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.navPc_item:hover,
.navPc_item:focus{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.navPc_home:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.navPc_home__is-focused{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.navPc_item__home:hover,
.navPc_item__home:focus{
    transform: none;
    transition: none;
}
