a {
  display: block;
  color: black;
  text-decoration: none;
}

body {
  background-color: #FCF8ED;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
  color: black;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.l-header__errorPage {
  width: 45.6vw;
  position: fixed;
  right: 1.4vw;
  top: 10px;
  z-index: 100;
}
@media (max-width: 1024px) {
  .l-header__errorPage {
    width: 520px;
  }
}
@media (max-width: 750px) {
  .l-header__errorPage {
    width: auto;
    right: 0;
    top: 0;
  }
}

.l-message {
  padding: 30vh 0 40vh;
}

.nav__pc {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 750px) {
  .nav__pc {
    display: none;
  }
}

.navPc_list {
  width: 95%;
  padding: 3%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .navPc_list {
    width: 95%;
    padding: 5px auto;
  }
}
.navPc_list .navPc_item {
  color: #0D88C4;
  font-size: calc(0.1rem + 1.3vw);
  transition: transform 0.3s;
}
@media (max-width: 1024px) {
  .navPc_list .navPc_item {
    font-size: 20px;
  }
}
.navPc_list .navPc_home {
  background-color: #0D88C4;
  border-radius: 0.556vw;
  padding: 2% 4%;
  transition: transform 0.3s;
}
.navPc_list .navPc_home .navPc_item__home {
  color: white;
  font-size: calc(0.1rem + 1vw);
}
@media (max-width: 1024px) {
  .navPc_list .navPc_home .navPc_item__home {
    font-size: 20px;
  }
}

.nav__sp {
  display: none;
  position: relative;
  background-color: white;
  border-radius: 2vw;
  width: 220px;
  padding: 5px 0;
  margin-top: 1%;
  margin-right: 5px;
  margin-left: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 750px) {
  .nav__sp {
    display: block;
  }
}
.nav__sp .navSp_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
}
.nav__sp .navSp_menu .navSp_contact {
  background-color: #0D88C4;
  border-radius: 2vw;
  padding: 4% 2% 4% 7%;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
}
.nav__sp .navSp_menu .navSp_contact .navSp_contactText {
  font-size: 16px;
  margin-right: 10px;
  color: white;
}
.nav__sp .navSp_menu .navSp_contact .line__arrow {
  background-color: white;
}
.nav__sp .navSp_menu .navSp_hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45px;
  height: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.3s;
  cursor: pointer;
}
.nav__sp .navSp_menu .navSp_hamburger .line {
  display: block;
  width: 100%;
  height: 0.6vh;
  border-radius: 2px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
}
.nav__sp .navSp_menu .navSp_hamburger .line1 {
  transform-origin: top left;
}
.nav__sp .navSp_menu .navSp_hamburger .line3 {
  transform-origin: bottom left;
}
.nav__sp .navSp_dropdown {
  width: 110%;
  padding: 10px 20px 0;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 60px;
  right: 10px;
  left: auto;
  visibility: hidden;
  opacity: 0;
  transform: translateX(4px);
  transition: opacity 0.3s, transform 0.3s, visibility 0s 0.3s;
}
.nav__sp .navSp_dropdown .dropdown_item {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.nav__sp .navSp_dropdown .dropdown_item .dropdown_itemText {
  font-size: 20px;
  margin-left: 16px;
  transition: transform 0.3s;
}
.nav__sp .navSp_dropdown .dropdown_item .dropdown_itemText__close {
  font-size: 18px;
  color: #0D88C4;
  transition: transform 0.3s;
  cursor: pointer;
}
.nav__sp .navSp_dropdown .arrow {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nav__sp .navSp_dropdown .arrow .line__arrow {
  display: block;
  border-radius: 2px;
  width: 14px;
  height: 0.3vh;
  background-color: #333;
}
.nav__sp .navSp_dropdown .arrow .line1__arrow {
  transform-origin: top left;
  transform: rotate(31deg);
}
.nav__sp .navSp_dropdown .arrow .line2__arrow {
  transform-origin: bottom left;
  transform: rotate(-31deg);
}

.error_title {
  font-size: calc(0.1rem + 3.3vw);
  font-weight: 700;
  text-align: center;
  color: #004092;
  margin: 20px 0;
  text-align: center;
}
@media (max-width: 750px) {
  .error_title {
    font-size: calc(0.1rem + 6.2vw);
  }
}

.error_text {
  font-size: calc(0.1rem + 2vw);
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 750px) {
  .error_text {
    font-size: calc(0.1rem + 3.5vw);
  }
}

.footer_copyRight {
  padding-bottom: 30px;
  height: 100%;
  text-align: center;
}

.nav__sp .navSp_contact:focus {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.nav__sp .navSp_dropdown__is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.navSp_hamburger:focus {
  outline: none;
  transform: scale(1.1);
  transition: transform 0.3s;
}

.line1__is-active {
  transform: rotate(45deg);
}

.line2__is-active {
  opacity: 0;
}

.line3__is-active {
  transform: rotate(-45deg);
}

.dropdown_itemText:focus {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.navPc_item:hover,
.navPc_item:focus {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.navPc_home:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.navPc_home__is-focused {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.navPc_item__home:hover,
.navPc_item__home:focus {
  transform: none;
  transition: none;
}/*# sourceMappingURL=error.original.css.map */