a {
  display: block;
  color: black;
  text-decoration: none;
}

body {
  background-color: #FCF8ED;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
  color: black;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.l-header__errorPage {
  width: 40rem;
  max-width: 100vw;
  position: fixed;
  right: 1.4vw;
  top: 10px;
  z-index: 100;
}
@media (max-width: 1024px) {
  .l-header__errorPage {
    width: 38rem;
  }
}
@media (max-width: 750px) {
  .l-header__errorPage {
    width: auto;
    right: 1.5vw;
    top: 1.2%;
  }
}

.l-message {
  padding: 30vh 0 40vh;
}

.nav__pc {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 750px) {
  .nav__pc {
    display: none;
  }
}

.navPc_list {
  width: 95%;
  max-width: 100vw;
  padding: 1.1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .navPc_list {
    width: 95%;
    padding: 5px auto;
  }
}
.navPc_list .navPc_item {
  color: #004092;
  font-size: 1.25rem;
  transition: transform 0.3s;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .navPc_list .navPc_item {
    font-size: 1.25rem;
  }
}

.nav__sp__toppage {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.nav__sp {
  display: none;
  position: relative;
  border-radius: 2vw;
  width: 15rem;
  max-width: 100vw;
  padding: 0.4rem 0;
}
@media (max-width: 750px) {
  .nav__sp {
    display: block;
  }
}
.nav__sp .navSp_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
}
.nav__sp .navSp_menu .navSp_contact {
  background-color: #2154a6;
  border-radius: 2vw;
  padding: 8.4px 0.3rem 8.4px 0.9rem;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
}
.nav__sp .navSp_menu .navSp_contact .navSp_contactText {
  font-size: 1.1rem;
  margin-right: 0.75rem;
  color: white;
}
.nav__sp .navSp_menu .navSp_contact .line__arrow {
  background-color: white;
}
.nav__sp .navSp_menu .navSp_hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  max-width: 100vw;
  height: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.3s;
  cursor: pointer;
}
.nav__sp .navSp_menu .navSp_hamburger .line {
  display: block;
  width: 100%;
  height: 0.2rem;
  border-radius: 2px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
}
.nav__sp .navSp_menu .navSp_hamburger .line1 {
  transform-origin: top left;
}
.nav__sp .navSp_menu .navSp_hamburger .line3 {
  transform-origin: bottom left;
}
.nav__sp .navSp_dropdown {
  width: 300px;
  padding: 12px 24px 0;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 10vh;
  right: 10px;
  left: auto;
  visibility: hidden;
  opacity: 0;
  transform: translateX(4px);
  transition: opacity 0.3s, transform 0.3s, visibility 0s 0.3s;
}
.nav__sp .navSp_dropdown .dropdown_item {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.nav__sp .navSp_dropdown .dropdown_item .dropdown_itemText {
  color: #004092;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 19px;
  transition: transform 0.3s;
}
.nav__sp .navSp_dropdown .dropdown_item .dropdown_itemText__close {
  font-size: 1.3rem;
  color: black;
  transition: transform 0.3s;
  cursor: pointer;
}
.nav__sp .navSp_dropdown .arrow {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nav__sp .navSp_dropdown .arrow .line__arrow {
  display: block;
  border-radius: 2px;
  width: 1.1rem;
  height: 0.36vh;
  background-color: #004092;
}
.nav__sp .navSp_dropdown .arrow .line1__arrow {
  transform-origin: top left;
  transform: rotate(31deg);
}
.nav__sp .navSp_dropdown .arrow .line2__arrow {
  transform-origin: bottom left;
  transform: rotate(-31deg);
}

.error_title {
  font-size: 48px;
  text-align: center;
  color: #004092;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 20px 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .error_title {
    font-size: 34px;
  }
}
@media (max-width: 750px) {
  .error_title {
    font-size: 25px;
  }
}

.error_text {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .error_text {
    font-size: 1.25rem;
  }
}
@media (max-width: 750px) {
  .error_text {
    font-size: 1rem;
  }
}

.footer_copyRight {
  padding-bottom: 30px;
  height: 100%;
  text-align: center;
}

.nav__sp .navSp_contact:focus-visible {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.nav__sp .navSp_dropdown__is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.navSp_hamburger:focus-visible {
  border-radius: 5px;
  outline: 2px solid black;
  transform: scale(1.1);
  transition: transform 0.3s;
}

.line1__is-active {
  transform: rotate(45deg);
}

.line2__is-active {
  opacity: 0;
}

.line3__is-active {
  transform: rotate(-45deg);
}

.dropdown_itemText:focus-visible {
  border-radius: 5px;
  outline: 2px solid black;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.navPc_item:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.navPc_item:focus-visible {
  border-radius: 5px;
  outline: 2px solid black;
  transform: scale(1.2);
  transition: transform 0.3s;
}/*# sourceMappingURL=error.original.css.map */